.player__volume
  display flex;
  align-items: center;
  justify-content: center;


  input[type="range"]
    flex 3
    padding 0
    &:disabled
      color red

  svg
    flex 1
    margin-right -12px
    text-align right
