.player__volume
  display flex;
  align-items: center;
  justify-content: center;

  .rc-slider,
  input[type="range"]
    flex 3
    &.rc-slider-disabled
      background-color inherit

  svg
    flex 1
    margin-right -12px
    text-align right
