body,html
  height 100%
  margin 0 !important
  background-image url("../assets/symphony.png")

body
  display: flex;
  align-items: center;
  justify-content: center;

.app
  flex 1
  width 800px
  margin 0 auto

  .app__input
    margin-bottom 2em

  .app__player
    display flex
    .right
    .left
      flex 1
      margin 10px
      &:first-child
        margin-left 0
      &:last-child
        margin-right 0
