.player
  margin: auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;

  .player__wrapper
    display: none;

  .media-control--play-pause
    cursor pointer
    &:hover
      fill: "#373D3F"

  .media-control--mute-unmute{
    margin 0
  }
  .media-control--next-track,
  .media-control--mute-unmute,
  .media-control--prev-track
    cursor pointer
    &:hover
      fill #d5cdc5

  .media-row:not(.playlist-info)
    display: flex;
    align-items: center;
    justify-content: center;
    .center
    .right
    .left
      flex 1

  .media-control-group--seek
    position relative
    .media-control-loaded--seekbar
      position absolute
      z-index 9
      width calc( 100% - 20px)
      margin: 0 10px;
    .rc-slider.rc-slider-disabled
      background-color inherit


.react-player {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.faded {
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  margin: 20px;
}
