.player
  margin: auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;

  .section
    display: inline-block;
    max-width: 480px;
    margin: 20px;
    text-align: left;
    vertical-align: top;

    .player__wrapper
      display: none;

  .media-control--play-pause
    cursor pointer
    &:hover
      fill: "#373D3F"

  .media-control--next-track,
  .media-control--prev-track
    cursor pointer
    &:hover
      fill #d5cdc5

  .media-row
    display: flex;
    .center
    .right
    .left
      flex 1

  .media-control-group--seek .media-control--progress
    color red
    background-color red
    input[type="range" i]
      color red



.react-player {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.faded {
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  margin: 20px;
}
